<style type="text/css">
  #banner{
    background:url(<%= BUILD_FILE.images['succBanner'] %>) no-repeat scroll center;
  }
</style>
<div id="banner"></div>
<section>
  <div class="wrapper">
    <ul class="list-tabs clearfix">
      <li class="active"><a href="#">室内除甲醛</a><i></i></li>
      <li><a href="#">车内除甲醛</a><i></i></li>
      <li><a href="#">新风系统</a><i></i></li>
      <li><a href="#">空气检测</a><i></i></li>
    </ul>
    <ul class="list-items">
      <li>
        <div>
          <img src="<%= BUILD_FILE.images['succCase1'] %>" alt="学而思培优甲醛治理">
        </div>
        <dl>
          <dt>学而思培优甲醛治理</dt>
          <dd>服务时间：<span>2016.05.08</span></dd>
          <dd>建筑面积：<span>5000平方米</span></dd>
          <dd>
            <span>服务内容：</span>
            <p>超标甲醛及粉尘治理，治理后，原超标污染物均符合国家标注。</p>
          </dd>
        </dl>
      </li>
      <li>
        <div>
          <img src="<%= BUILD_FILE.images['succCase2'] %>" alt="学而思培优甲醛治理">
        </div>
        <dl>
          <dt>学而思培优甲醛治理</dt>
          <dd>服务时间：<span>2016.05.08</span></dd>
          <dd>建筑面积：<span>5000平方米</span></dd>
          <dd>
            <span>服务内容：</span>
            <p>超标甲醛及粉尘治理，治理后，原超标污染物均符合国家标注。</p>
          </dd>
        </dl>
      </li>
      <li>
        <div>
          <img src="<%= BUILD_FILE.images['succCase3'] %>" alt="学而思培优甲醛治理">
        </div>
        <dl>
          <dt>学而思培优甲醛治理</dt>
          <dd>服务时间：<span>2016.05.08</span></dd>
          <dd>建筑面积：<span>5000平方米</span></dd>
          <dd>
            <span>服务内容：</span>
            <p>超标甲醛及粉尘治理，治理后，原超标污染物均符合国家标注。</p>
          </dd>
        </dl>
      </li>
      <li>
        <div>
          <img src="<%= BUILD_FILE.images['succCase4'] %>" alt="学而思培优甲醛治理">
        </div>
        <dl>
          <dt>学而思培优甲醛治理</dt>
          <dd>服务时间：<span>2016.05.08</span></dd>
          <dd>建筑面积：<span>5000平方米</span></dd>
          <dd>
            <span>服务内容：</span>
            <p>超标甲醛及粉尘治理，治理后，原超标污染物均符合国家标注。</p>
          </dd>
        </dl>
      </li>
      <li>
        <div>
          <img src="<%= BUILD_FILE.images['succCase5'] %>" alt="学而思培优甲醛治理">
        </div>
        <dl>
          <dt>学而思培优甲醛治理</dt>
          <dd>服务时间：<span>2016.05.08</span></dd>
          <dd>建筑面积：<span>5000平方米</span></dd>
          <dd>
            <span>服务内容：</span>
            <p>超标甲醛及粉尘治理，治理后，原超标污染物均符合国家标注。</p>
          </dd>
        </dl>
      </li>
      <li>
        <div>
          <img src="<%= BUILD_FILE.images['succCase6'] %>" alt="学而思培优甲醛治理">
        </div>
        <dl>
          <dt>学而思培优甲醛治理</dt>
          <dd>服务时间：<span>2016.05.08</span></dd>
          <dd>建筑面积：<span>5000平方米</span></dd>
          <dd>
            <span>服务内容：</span>
            <p>超标甲醛及粉尘治理，治理后，原超标污染物均符合国家标注。</p>
          </dd>
        </dl>
      </li>
      <li>
        <div>
          <img src="<%= BUILD_FILE.images['succCase1'] %>" alt="学而思培优甲醛治理">
        </div>
        <dl>
          <dt>学而思培优甲醛治理</dt>
          <dd>服务时间：<span>2016.05.08</span></dd>
          <dd>建筑面积：<span>5000平方米</span></dd>
          <dd>
            <span>服务内容：</span>
            <p>超标甲醛及粉尘治理，治理后，原超标污染物均符合国家标注。</p>
          </dd>
        </dl>
      </li>
      <li>
        <div>
          <img src="<%= BUILD_FILE.images['succCase2'] %>" alt="学而思培优甲醛治理">
        </div>
        <dl>
          <dt>学而思培优甲醛治理</dt>
          <dd>服务时间：<span>2016.05.08</span></dd>
          <dd>建筑面积：<span>5000平方米</span></dd>
          <dd>
            <span>服务内容：</span>
            <p>超标甲醛及粉尘治理，治理后，原超标污染物均符合国家标注。</p>
          </dd>
        </dl>
      </li>
    </ul>
    <div class="pagination">
      <a href="#">首页</a>
      <a href="#">上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">...</a>
      <a href="#">下一页</a>
      <a href="#">尾页</a>
      <a>共<span>10</span>页</a>
    </div>
  </div>
</section>
  